<div>
  <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Order - ID</th>
        <th>Order - Date Created</th>
        <th>Order - Games</th>
        <th>Order - Game Quantity</th>
        <th>Order - Number</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.created}}</td>
          <td>
            <ul>
              {{#each this.game}}
                <li>{{this.name}}</li>
              {{/each}}
            </ul>
          </td>
          <td>
            <ul>
              {{#each this.gameQuantity}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
          <td>{{this.orderNumber}}</td>
          <td>
            <a href="/orders/edit/{{this.id}}">Edit</a>
            <a href="/orders/delete/{{this.id}}">Delete</a>
          </td>
        </tr>
        {{/each}}
    </tbody>


    </table>
  </div>
</div>
