<div>
  <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Video Game ID</th>
        <th>Video Game Name</th>
        <th>Video Game Description</th>
        <th>Video Game Price</th>
        <th>Video Game Quantity Left</th>
        <th>Video Game Total Quantity</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.quantityLeft}}</td>
          <td>{{this.totalQuantity}}</td>

          <td>
            <a href="/games/edit/{{this.id}}">Edit</a>
            <a href="/games/delete/{{this.id}}">Delete</a>
          </td>
        </tr>
        {{/each}}
    </tbody>

      <tfooter>
        <tr>
          <td> <button class="btn btn-primary" onClick="addGame();">Add</button> </td>
        </tr>
      </tfooter>
    </table>
  </div>
</div>
