<div class="table-responsive">
  <form method="post" action="/orders/edit/{{data.id}}">
    <table class="table table-condensed">
    <tbody>
        <tr>
          <th width="200">Order Id</th>
          <td>{{data.id}}</td>
        </tr>
        <tr>
          <th>Order - Customer</th>
          <td>{{data.customer}}</td>
        </tr>
        <tr>
          <th>Order Created </th>
          <td>{{data.created}}</td>
        </tr>
        <tr>
          <th>Order Number </th>
          <td>{{data.orderNumber}}</td>
          <input type="hidden" name="orderId" value="{{data.id}}">
        </tr>

        <tr>
          <th>Order - Games Purchased </th>
        </tr>
        <tr>
          {{#each data.games}}
              <td><input type="text" name="gameName" value="{{this.name}}"></td>
          {{/each}}
        </tr>
        <tr>
          <th>Order - Game Quantity </th>
        </tr>
        <tr>
          {{#each data.gameQuantity}}
              <td><input type="text" name="newGameQuantity" value="{{this}}"></td>
              <input type="hidden" name="previousOrderedQuantity" value="{{this}}">
          {{/each}}
        </tr>
    </tbody>

      <tfooter>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Save" class="btn btn-success">
            <input type="button" value="Cancel" class="btn btn-danger cancel" onclick="cancelOrderAdd()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>

<table class="table table-striped">
  <tr><th>Game Inventory</th></tr>
  {{#each data.allGames}}
    <tr><td>{{this.name}}</td></tr>
  {{/each}}
</table>
